@import url("index.css");

.side-left {
  bottom: 0px;
  width: 40px;
  position: fixed;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--light-slate);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 1080px) {
  .side-left {
    left: 20px;
    right: auto;
  }
}

@media (max-width: 768px) {
  .side-left {
    display: none;
  }
}

.side-socials {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.side-socials li a {
  padding: 10px;
}

.side-socials li a:hover {
  transform: translateY(-3px);
}

.side-socials li:last-of-type {
  margin-bottom: 20px;
}

.side-socials::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

.side-right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (max-width: 1080px) {
  .side-right {
    right: 20px;
    left: auto;
  }
}

@media (max-width: 768px) {
  .side-right {
    display: none;
  }
}

.side-email {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  position: relative;
}

.side-email a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}

.side-email a:hover {
  transform: translateY(-3px);
}

.side-email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--light-slate);
}

h1 {
  margin: 0 0 30px 4px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
  font-weight: 400;
}

h3 {
  margin-top: 5px;
  color: var(--slate);
  line-height: 0.9;
}

p {
  font-family: var(--font-sans);
  margin: 35px 0 0;
  max-width: 540px;
}

.big_button {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 50px;
}

.big_button:hover {
  background-color: var(--green-tint);
}
