@import url("index.css");

.experience {
  max-width: 700px;
}

.innerr {
  display: flex;
  gap: 25px;
  padding-top: 10px;
  align-items: flex-start;
}

.job-list {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0;
  margin: 0;
  list-style: none;
}

.job-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  padding: 0 20px 2px;
  background-color: transparent;
  border-left: 2px solid var(--lightest-navy);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
  outline: 0px;
  color: var(--slate);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

button {
  cursor: pointer;
  border: 0px none;
}

.job-button:hover,
.job-button:focus {
  background-color: var(--light-navy);
  color: var(--green);
  outline: 0px;
}

.job-button:active,
.job-button:focus {
  border-left: 2px solid var(--green);
}

.job-panels {
  position: relative;
  width: 100%;
}

.job-panel {
  width: 100%;
  height: auto;
  padding: 0px 5px;
}

.job-panel h3 {
  font-size: var(--fz-xl);
  margin-bottom: 2px;
  font-weight: 500;
  line-height: 1.3;
  font-family: var(--font-sans);
  color: var(--lightest-slate);
}

.job-panel span {
  color: var(--green);
}

.when {
  margin-top: 10px;
  margin-bottom: 25px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.job-panel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: var(--fz-lg);
}

.job-panel ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.job-panel ul li:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--green);
}

.active {
  border-left: 2px solid var(--green);
  color: var(--green);
  background-color: var(--light-navy);
}
